body {
    font-family: 'Montserrat', sans-serif;
    background-color: #90AFC5;
    background: url(https://us.123rf.com/450wm/phochi1981/phochi19811709/phochi1981170900101/86635845-abstract-line-background-and-texture-railroad-tracks-pattern-vector-illustration.jpg?ver=6);
    background-repeat: cover;
}

#title {
    background-color: #75B1A9;
    font-size: 46px;
    text-align: center;
    font-family: 'Monoton', cursive;
    width: auto;
    margin: 20px;
    padding: 15px;
}

#schedule {
    width: auto;
    margin: 10px;
    padding: 5px;
    background-color: #fff;
    border-radius: 5px;
    border: solid 2px #D9B44A;
}

#container {
    width: auto;
    margin: 10px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    border: solid 2px #D9B44A;
}

#submit {
    background-color: #ACD0C0;
    border: #fff;
}

#submit:hover {
    color: #fff;
    background: #4F6457;
    border: solid 2px #D9B44A;
    text-align: center;
    max-width: 200px;
    font-weight: bolder;
    cursor: hand;
}