body {
    font-family: 'Montserrat', sans-serif;
    background: url(pipes/pipes.png);
}

#title {
    background-color: #75B1A9;
    border-radius: 5px;
    border: solid 2px #D9B44A;
    color: #fff;
    font-size: 46px;
    font-family: 'Montserrat Subrayada', sans-serif;
    text-align: center;
    width: auto;
    margin: 10px;
    padding: 15px;
}

#schedule {
    width: auto;
    margin: 10px;
    padding: 5px;
    background-color: #F1F1F2;
    border-radius: 5px;
    border: solid 2px #D9B44A;
}

#container {
    width: auto;
    margin: 10px;
    padding: 20px;
    background-color: #F1F1F2;
    border-radius: 5px;
    border: solid 2px #D9B44A;
}

#submit {
    background-color: #ACD0C0;
    border: solid 2px #4F6457;
}

#submit:hover {
    color: #fff;
    background: #4F6457;
    border: solid 2px #D9B44A;
    text-align: center;
    max-width: 200px;
    font-weight: bolder;
    cursor: hand;
}